@font-face {
   font-family: 'ArbFONTS-ArbFONTS-Janna-LT-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Mahmoud/Desktop/warshat-mutanaqila.com/fonts/ArbFONTS-ArbFONTS-Janna-LT-Regular/font.ttf');
}
